<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>739839705900-48fjmpjr9ub3etsr6pbh4iivrlh5e5b4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739839705900-48fjmpjr9ub3etsr6pbh4iivrlh5e5b4</string>
	<key>API_KEY</key>
	<string>AIzaSyAuHXu9l2zl25n24iVtEFjUqPbPhlLdPMs</string>
	<key>GCM_SENDER_ID</key>
	<string>739839705900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saket.Firecrash</string>
	<key>PROJECT_ID</key>
	<string>firecrash-d49fb</string>
	<key>STORAGE_BUCKET</key>
	<string>firecrash-d49fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:739839705900:ios:255b5b3b0b848bdd</string>
	<key>DATABASE_URL</key>
	<string>https://firecrash-d49fb.firebaseio.com</string>
</dict>
</plist>